---
// Import section components
import MainLayout from "@/layouts/MainLayout.astro";
import ProductTabBtn from "@/components/ui/tabs/TabBtn.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { SITE } from "@data/constants";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import LeftSection from "@/components/ui/blocks/LeftSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import pricing from "@data/pricing.json";
import RightSection from "@/components/ui/blocks/RightSection.astro";
import Icon from "@/components/ui/icons/Icon.astro";
import testTba from "@data/test-tba.json";

const pageTitle: string = `Test Básico de Aprendizaje​​ | ${SITE.title}`;
const title: string = `Test Básico de Aprendizaje`;
---

<MainLayout title={pageTitle}>
  <MainSection
    title={title}
    subTitle=" El Test Básico de Aprendizaje (TBA) es una batería informatizada, lo que permite automatizar procesos evaluativos y generar análisis cuantitativos y cualitativos para cada variable evaluada. Esta característica no solo agiliza el proceso de evaluación, sino que también proporciona resultados más detallados y precisos."
    btnExists={true}
    btnTitle="Ingresar"
    btnURL="https://app.cepaonline.cl/login"
    imgOne="img/profecional-tba-3.png"
    imgOneAlt="Profecional realizando curso de prueba TBA"
    imgTwo=" img/profecional-tba.png"
    imgTwoAlt={"Especialista TBA evaluando pruebas"}
  />

  <LeftSection
    title="El TBA: Una Mirada Completa al Desarrollo Cognitivo"
    subTitle="El Test Básico de Aprendizaje (TBA) es una evaluación completa que analiza las habilidades cognitivas y de aprendizaje de personas de todas las edades. Evalúa desde capacidades básicas como la memoria y atención, hasta habilidades más complejas como la lectura y resolución de problemas matemáticos. Los resultados del TBA permiten identificar las fortalezas y debilidades de cada individuo, lo que ayuda a diseñar programas de estudio o terapias personalizadas. Además, el TBA considera la autopercepción del aprendizaje para tener una visión más completa del proceso educativo de cada persona. En resumen, el TBA es una herramienta útil para optimizar el aprendizaje y la enseñanza."
    img="/img/cetificacion-tba.png"
    imgAlt="Joven completando prueba TBA"
    btnExists={true}
    btnTitle="¡Contacta con un ejecutico!"
    btnURL="/contact"
  />

  <section
    class="mx-auto items-center gap-8 px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-14 xl:gap-16 2xl:max-w-full"
  >
    <!-- The container for title, subtitle, and optional CTA button -->
    <div class="mt-4 md:mt-0">
      <!-- The title of the section -->
      <h2
        id="fadeText"
        class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
      >
        Explora la Batería TBA
      </h2>
      <!-- The subtitle of the section -->
      <p
        class="mb-4 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-lg"
      >
        Nuestra batería se compone por diferentes pruebas, echa un vistazo a
        alguna de ellas.
      </p>
    </div>

    <div class="mt-10 grid gap-y-8 md:grid-cols-1 md:grid-cols-3">
      {
        testTba.map((test) => {
          return (
            <div class="max-w-sm rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800">
              <div>
                <img
                  class="rounded-t-lg"
                  src={test.img.src}
                  alt={test.img.alt}
                />
              </div>
              <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  {test.title}
                </h5>

                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  {test.description}
                </p>
              </div>
            </div>
          );
        })
      }

     
    </div>
  </section>

  <LeftSection
    title="TBA ha demostrado ser una herramienta de evaluación altamente confiable y precisa."
    subTitle="Mediante el analisis 'Test-Retest' se reveló que el TBA tiene un coeficiente de determinación de 0.984, lo que significa que casi el 98% de los resultados del test son consistentes a lo largo del tiempo. Además, se han utilizado otras técnicas estadísticas como el coeficiente KR-20 y el alfa de Cronbach para medir la consistencia interna de los ítems del test. Los resultados de estos análisis también han sido muy altos, indicando que los ítems del TBA están bien diseñados y miden de manera consistente las habilidades que se proponen evaluar. En resumen, tanto la consistencia interna como la estabilidad temporal del TBA han sido respaldadas por rigurosos análisis estadísticos, lo que garantiza que los resultados obtenidos con este test son confiables y válidos."
    img="/img/test-retest.jpeg"
    imgAlt="Gráfica test retest"
    btnExists={false}
  />

  <RightSection
    title="Pablo San Martín Catalán creador del TBA: La herramienta clave para evaluar el aprendizaje"
    subTitle="Pablo Jesús San Martín Catalán es psicopedagogo, bioestadístico y director del Centro de Estudios Psicométricos y del Aprendizaje. Es autor de la hipótesis del intervalo dinámico de los aprendizajes humanos y del modelo de la dinámica cognitiva del aprendizaje humano, contribuyendo al estudio de los procesos de aprendizaje desde perspectivas complejas y dinámicas. También ha desarrollado un enfoque sobre los esquemas de aprendizaje y toma de decisiones, que explora la interrelación de estos sistemas a través de modelos probabilísticos, consolidando su impacto en la psicopedagogía y las ciencias cognitivas."
    single={true}
    imgOne="img/autor.jpeg"
    imgOneAlt="Pablo San Martín Catalá autor del TBA dando una confierencia"
  />

  <!-- The root section of the component -->
  <section
    class="mx-auto max-w-[85rem] items-center gap-8 px-4 pt-4 md:py-10 sm:px-6 sm:py-16 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 lg:px-8 lg:py-14 xl:gap-16 2xl:max-w-full"
  >
    <!-- The Image component which renders the image -->

    <div
      class="w-full rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800"
    >
      <div class="flex flex-col items-center py-10">
        <div class="mb-5 rounded-full bg-primary-500 p-5">
          <Icon name="file" classCustom="text-white w-10 h-10" />
        </div>

        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Investigacion
        </h5>
        <span class="text-sm text-gray-500 dark:text-gray-400"
          >San Martín y Carrasco</span
        >
        <div class="mt-4 flex md:mt-6">
          <a
            download
            href="/files/San-Martin-y-Carrasco-Investigacion.pdf"
            class="ms-2 rounded-lg border border-gray-200 bg-primary-500 px-4 py-2 text-sm font-medium text-white transition hover:bg-primary-400"
            >Descargar</a
          >
        </div>
      </div>
    </div>

    <!-- The container for title, subtitle, and optional CTA button -->
    <div class="mt-4 md:mt-0">
      <!-- The title of the section -->
      <h2
        class="mt-5 mb-4 text-balance text-2xl md:text-4xl font-extrabold tracking-tight text-neutral-800"
      >
        Fundamentos psicométricos del Test Básico de Aprendizaje
      </h2>
      <!-- The subtitle of the section -->
      <p
        class="mb-4 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-lg"
      >
        Este estudio se enfoca en presentar de manera detallada el desarrollo y
        las bases científicas del Test Básico de Aprendizaje (TBA), una
        herramienta de evaluación psicométrica diseñada para medir una amplia
        gama de habilidades cognitivas y de aprendizaje en personas de 6 a 55
        años.
      </p>
    </div>
  </section>

  <PricingSection pricing={pricing} />
</MainLayout>
